<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <File name="Main" fileName="logs/main.log">
            <PatternLayout>
                <Pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Pattern>
            </PatternLayout>
        </File>
        <File name="Producer" fileName="logs/pro.log">
            <PatternLayout>
                <Pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Pattern>
            </PatternLayout>
        </File>
        <File name="Consumer" fileName="logs/con.log">
            <PatternLayout>
                <Pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Pattern>
            </PatternLayout>
        </File>
        <File name="Links" fileName="urls/links.log">
            <PatternLayout>
                <Pattern>%msg%n</Pattern>
            </PatternLayout>
        </File>
        <File name="FailedLinks" fileName="urls/failedLinks.log">
            <PatternLayout>
                <Pattern>%msg%n</Pattern>
            </PatternLayout>
        </File>
    </Appenders>
    <Loggers>
        <Logger name="Consumer" level="trace">
            <AppenderRef ref="Consumer"/>
        </Logger>
        <Logger name="Producer" level="trace">
            <AppenderRef ref="Producer"/>
        </Logger>
        <Logger name="Main" level="trace">
            <AppenderRef ref="Main"/>
        </Logger>
        <Logger name="Links" level="trace">
            <AppenderRef ref="Links"/>
        </Logger>
        <Logger name="FailedLinks" level="trace">
            <AppenderRef ref="FailedLinks"/>
        </Logger>
        <Root level="All">
            <AppenderRef ref="Console" level="ERROR"/>
        </Root>
    </Loggers>
</Configuration>

